h1 {
  background-color:#f41010; 
  text-align:center;
  font-size:2.5em;
}

tr:nth-child(even) {
  background-color:#BFBEBE;
}

table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
}

a {
    color:#0AFFFA;
}
p {
  font-family:Arial;
  text-align:center;
}
body {
  background-color:#0C0000;
  color:#F7F7F7;
}

img {
  display:inline;
}
