h1 {
  background-color:#f41010; text-align:center;
}

tr:nth-child(even) {
  background-color:#BFBEBE;
}

table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
}

a:link {
    color:#0AFFFA;
}
p {
  font-family:Arial;
}
body {
  background-color:#0C0000;color:#F7F7F7;
}
