h1 {
  background-color:#f41010;
}

tr:nth-child(even) {
  background-color:#BFBEBE
}

table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
}

a:link {
    color:#0AFFFA;
}
